services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
      MONGO_INITDB_DATABASE: dev5
    volumes:
      - mongodb_data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password123
      ME_CONFIG_MONGODB_URL: mongodb://admin:password123@mongodb:27017/
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin123
    depends_on:
      - mongodb

  api:
    build: ./images/backend
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./images/backend/src:/usr/app/src
    env_file:
      - .env
    environment:
      - MONGODB_URI=mongodb://admin:password123@mongodb:27017/dev5?authSource=admin
    depends_on:
      - mongodb

  frontend:
    build: ./images/frontend
    ports:
      - "5173:5173"
    volumes:
      - ./images/frontend/src:/usr/app/src
    environment:
      # This is used in App.jsx as import.meta.env.VITE_API_URL
      - VITE_API_URL=http://localhost:3000
    depends_on:
      - api

volumes:
  mongodb_data:
